/**
 *
 * Home Styles
 *
 */
@import "@/vars";

.cont {
	display: flex;
	flex-direction: column;
	padding: 20px;

	span {
		@include center;
		font-size: 72px;
		opacity: 0.1;
		color: $accent-4;
	}
}
