/**
 *
 * Layout Styles
 *
 */
@import "@/vars";

.cont {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	> div {
		flex: 1;
	}
}

.nav {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0 32px;
	gap: 30px;

	// background-color: $deep-05;

	> .spacer {
		flex: 1;
	}

	button {
		background-color: transparent;
	}
}

.logo {
	font-weight: bold;
}
