/**
 *
 * Profile Styles
 *
 */
@import "@/vars";

.cont {
	display: flex;
	flex-direction: column;
	padding: 20px;

	align-items: center;
	justify-content: center;

	span {
		font-size: 72px;
		opacity: 0.3;
		color: $accent-4;
		margin-bottom: 100px;
	}
}
