// _vars.scss

$deep-0: hsl(233, 18%, 8%);
$deep-05: hsl(233, 18%, 12%);
$deep-1: hsl(236, 20%, 14%);
$deep-15: hsl(236, 20%, 15%);
$deep-2: hsl(236, 20%, 16%);
$deep-21: hsl(236, 21%, 18%);
$deep-25: hsl(236, 21%, 20%);
$deep-3: hsl(236, 21%, 26%);
$deep-35: hsl(236, 21%, 30%);
$deep-4: hsl(230, 21%, 40%);
$deep-41: hsl(230, 21%, 45%);
$deep-42: hsl(230, 21%, 50%);
$deep-45: hsl(220, 31%, 65%);
$deep-5: hsl(229, 24%, 70%);
$deep-6: hsl(229, 24%, 85%);

$accent-0: hsl(95, 86%, 47%);
$accent-1: hsl(31, 100%, 67%);
$accent-2: hsl(6, 100%, 68%);
$accent-3: hsl(332, 100%, 74%);
$accent-4: hsl(225, 100%, 70%);
$accent-5: hsl(185, 100%, 74%);
$accent-6: hsl(236, 41%, 31%);

$gray-0: #22222222;
$gray-1: #333333;

$shadow-0: 0 0 10px $gray-0;
$shadow-1: 0 0 15px $deep-0;

$border-0: solid 1px #d0d0f010;
$border-1: solid 1px $deep-3;

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
