$deep-0: #111218;
$deep-05: #191a24;
$deep-1: #1d1e2b;
$deep-15: #1f202e;
$deep-2: #212231;
$deep-21: #242638;
$deep-25: #282a3e;
$deep-3: #343650;
$deep-35: #3c3f5d;
$deep-4: #51587b;
$deep-41: #5b638b;
$deep-42: #656e9a;
$deep-45: #8a9dc1;
$deep-5: #a0a7c5;
$deep-6: #d0d3e2;
