@import "vars";
@import "fonts";

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	color: $deep-5;
	background-color: $deep-05;
	line-height: 1.5;
}

#root {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0.05px;
}

::-webkit-scrollbar {
	display: none;
}

*:focus-visible {
	outline: none;
	filter: brightness(1.1);
}

button {
	// reset
	appearance: none;
	border: unset;
	line-height: inherit;
	word-spacing: inherit;
	text-shadow: inherit;
	text-rendering: inherit;
	text-indent: inherit;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 0;
	padding-inline: 0;

	// order: 50;

	// defaults
	padding: 6px 12px;
	font-size: 15px;
	border-radius: 2px;
	box-sizing: border-box;

	color: $deep-5;
	background-color: $deep-25;

	font-weight: 500;
	// text-transform: uppercase;
	letter-spacing: 1px;
	font-family: inherit;
	user-select: none;

	> * {
		pointer-events: none;
	}

	&:hover {
		color: $deep-6;
	}

	&:focus-visible {
		background-color: $deep-25;
		filter: brightness(1.2);
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
		color: $deep-4;
	}

	&[data-primary] {
		color: $deep-15;
		background-color: $accent-2;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;

		&:hover {
			background-color: $accent-3;
		}
	}
}

a {
	text-decoration: none;
	color: inherit;
	letter-spacing: 1px;

	&:hover,
	&:focus {
		// text-decoration: underline;
		color: $deep-6;
	}

	&:focus-visible {
		outline: none;
	}

	&.active {
		pointer-events: none;
		color: $deep-6;
	}
}

input,
textarea {
	// reset
	appearance: none;
	background-color: unset;
	border: unset;
	color: inherit;
	line-height: inherit;
	word-spacing: inherit;
	text-shadow: inherit;
	text-rendering: inherit;
	text-indent: inherit;
	resize: none;
	cursor: text;

	font-family: inherit;
	box-sizing: border-box;
	font-size: inherit;

	color: $deep-45;
	background-color: $deep-25;

	transition:
		color 0.1s,
		background-color 0.1s;

	&:focus-visible {
		color: $deep-5;
		background-color: $deep-3;
	}

	&::placeholder {
		color: $deep-4;
	}

	&:focus {
		outline: none;
	}
}

.material-symbols-outlined {
	user-select: none;
}

ul {
	padding-inline-start: 0;
	padding-inline-end: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

li {
	list-style-type: none;
	display: flex;
	align-items: center;

	padding: 10px 15px;
	gap: 10px;

	// &:not(:last-child) {
	// 	border-bottom: 1px solid $deep-3;
	// }

	&:hover {
		background-color: $deep-1;
	}
}

[data-button] {
	cursor: pointer;
}

h2 {
	font-size: 1.2rem;
	font-weight: 350;
	letter-spacing: 1px;
	color: $deep-5;

	margin-block: 0;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: $deep-25;
		opacity: 0.5;
		margin-top: 15px;
	}
}

h3 {
	margin-block: 0;

	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1px;
	color: $deep-5;
}

[data-spacer] {
	flex: 1;
}
