/**
 *
 * About Styles
 *
 */
@import "@/vars";

.cont {
	display: flex;
	flex-direction: column;
	padding: 0 20px;

	span {
		@include center;
		font-size: 72px;
		opacity: 0.1;
		color: $accent-4;
	}
}

.sessions_table {
	margin-top: -10px;
	margin-left: -10px;
	width: 100%;
	border-collapse: collapse;
	max-width: 900px;

	font-family: "Roboto Mono", Courier, monospace;

	thead {
		color: $accent-4;
		text-align: left;
	}

	th {
		font-weight: 400;
		letter-spacing: 1px;
		// border-bottom: 1px solid $deep-2;
	}

	tr {
		&:hover {
			background-color: $deep-1;
		}
	}

	td,
	th {
		padding: 10px;
		// border-bottom: 1px solid $deep-2;
		text-align: left;
	}

	tbody {
		tr {
			&:last-child {
				td {
					border-bottom: none;
				}
			}
		}
	}

	.total {
		// font-weight: 600;
	}

	.total_value {
		color: $accent-3;
	}
}
