/**
 *
 * Dashboard Styles
 *
 */
@import "@/vars";

.cont {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 40px;
	padding: 20px;

	> span {
		@include center;
		font-size: 72px;
		opacity: 0.1;
		color: $accent-4;
		margin-bottom: 100px;
	}
}
