/**
 *
 * ProfileButton Styles
 *
 */
@import "@/vars";

.cont {
	display: flex;
	position: relative;

	&.open {
		.menu {
			display: flex;
		}
	}

	.account_button {
		span {
			font-variation-settings:
				"FILL" 1,
				"wght" 300,
				"GRAD" 0,
				"opsz" 24;
			font-size: 24px;
		}
	}
}

.menu {
	position: absolute;
	top: 60px;
	right: 0;
	background-color: $deep-05;
	z-index: 10;

	border: 1px solid $deep-2;
	border-radius: 2px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

	display: none;

	li {
		flex-shrink: 0;
		flex-wrap: nowrap;
		a {
			white-space: nowrap;
		}
	}
}

.name {
	margin-left: 10px;
}

.logout {
	[data-icon] {
		font-size: 15px;
	}
}
