/**
 *
 * {{pascalCase name}}
 *
 */
import styles from './index.module.scss'

const {{pascalCase name}} = () => {
	return (
		<div className={styles.cont}>
			{/* content */}
		</div>
	)
}

export default {{pascalCase name}}